<<<<<<< HEAD
=======
$navbar-default-bg:black;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}
>>>>>>> 89cdc25f86f613a35396ed03c32373df662bd402
